/[Ll]ibrary/
/[Tt]emp/
/[Oo]bj/
/[Bb]uild/
/[Bb]uilds/
/[Ll]ogs/
/[Mm]emoryCaptures/
/[Uu]serSettings/

/[Aa]ssets/AssetStoreTools*

.vs/
.idea/
.vscode/
*.csproj
*.sln
*.suo
*.user
*.userosscache
*.sln.docstates
*.opendb
*.db

.DS_Store
Thumbs.db
desktop.ini

*.dll
*.exe
*.pdb
*.swp

/sysinfo.txt
*.apk
*.unitypackage
*.bundle